URxvt.font: xft:Source Code Pro:Size = 14

URxvt.dpi : 96
URxvt.scrollBar : false
!URxvt.scrollBar_floating : true

URxvt.tintColor : #ffffff
URxvt.transparent : true
!URxvt.background : #602507
!URxvt.foreground : rgb:EE/EE/EE
URxvt.depth : 32
URxvt.shading : 45
URxvt.saveLines : 100000
URxvt.highlightColor : rgb:FF/FF/FF

URxvt.cursorBlink : true
URxvt.fading : 1.0
URxvt.urlLauncher : firefox
URxvt.externalBorder : 1

URxvt.BorderColor : rgb:AA/AA/AA
!URxvt.cursorColor : rgb:ff/ff/ff
URxvt.cursorUnderLine : true

!URxvt.scrollBar_right : true
URxvt.scrollColor : #3f3f3f

URxvt.cursorUnderline : true

*.background : #26261F
*.foreground : #EFEFEF
*.foreground_bold : #ebdbb2

URxvt.color0: #292727
URxvt.color1: #9B4C4C
URxvt.color2: #60B48A
URxvt.color3: #DFAF8F
URxvt.color4: #86B9ED
URxvt.color5: #DC8CC3
URxvt.color6: #8CD0D3
URxvt.color7: #DCDCDC
URxvt.color8: #709080
URxvt.color9: #F89B9B
URxvt.color10: #72D5A3
URxvt.color11: #F0DFAF
URxvt.color12: #94BFF3
URxvt.color13: #EC93D3
URxvt.color14: #93EOE3
URxvt.color15: #FFFFFF
