!URxvt.font: xft:Source Code Pro:size=13
!URxvt.font : xft:Hack-Regular:Size =  14
!URxvt*font : xft:monospace:Regular:size=13
URxvt.font:xft:Inconsolata-Regular:size=15


URxvt.dpi : 96
URxvt.scrollBar : false
URxvt.scrollBar_floating : true
URxvt.scrollBar_right : true
URxvt.scrollColor : #3f3f3f
URxvt.cursorUnderline : true

URxvt.tintColor : #ffffff
URxvt.transparent : true
URxvt.blur : 67
URxvt.blurRadius : 7
URxvt.depth : 16
URxvt.shading : 50
URxvt.saveLines : 100000
URxvt.highlightColor : rgb:FF/FF/FF

URxvt.cursorBlink : true
URxvt.fading : 1.0
URxvt.urlLauncher : firefox
URxvt.externalBorder : 0

!URxvt.BorderColor : rgb:AA/AA/AA
!URxvt.cursorColor : rgb:ff/ff/ff


*.foreground:   #ffffff
*.background:   #441F0E
*.cursorColor:  #cbc5c4

! black
 *.color0:       #282828
 *.color8:       #ffffff
!
! ! red
 *.color1:       #cc241d
 *.color9:       #fb4934
!
! ! green
 *.color2:       #98971a
 *.color10:      #b8bb26
!
! ! yellow
 *.color3:       #d79921
 *.color11:      #fabd2f
!
! ! blue
 *.color4:       #458588
 *.color12:      #83a598
!
! ! magenta
 *.color5:       #b16286
 *.color13:      #d3869b
!
! ! cyan
 *.color6:       #689d6a
 *.color14:      #8ec07c
!
! ! white
 *.color7:       #ddeedd
 *.color15:      #ebdbb2


!Copy and Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard 
