!URxvt.font: xft:Source Code Pro:Size = 14
URxvt.font : xft:Hack-Regular:Size =  14
URxvt.dpi : 96
URxvt.scrollBar : false
!URxvt.scrollBar_floating : true

URxvt.tintColor : #ffffff
URxvt.transparent : true
URxvt.blur : 100
URxvt.blurRadius : 20
URxvt.depth : 16
URxvt.shading : 60
URxvt.saveLines : 100000
URxvt.highlightColor : rgb:FF/FF/FF

URxvt.cursorBlink : true
URxvt.fading : 1.0
URxvt.urlLauncher : firefox
URxvt.externalBorder : 1

URxvt.BorderColor : rgb:AA/AA/AA
!URxvt.cursorColor : rgb:ff/ff/ff
URxvt.cursorUnderLine : true

!URxvt.scrollBar_right : true
URxvt.scrollColor : #3f3f3f

URxvt.cursorUnderline : true



xterm*faceName: xft:Hack-Regular
xterm*faceSize: 10
xterm*background: Black
xterm*foreground: White



*.foreground:   #ffffff
*.background:   #131010
*.cursorColor:  #cbc5c4

! black
 *.color0:       #1f1b1a
 *.color8:       #87dea4
!
! ! red
 *.color1:       #282323
 *.color9:       #74cfd5
!
! ! green
 *.color2:       #127c00
 *.color10:      #67c4ca
!
! ! yellow
 *.color3:       #f44242
 *.color11:      #ddd38c
!
! ! blue
 *.color4:       #736765
 *.color12:      #4ec37b
!
! ! magenta
 *.color5:       #998987
 *.color13:      #79dbe2
!
! ! cyan
 *.color6:       #bbb3b2
 *.color14:      #c6bb5a
!
! ! white
 *.color7:       #e4e2e1
 *.color15:      #c3b85a

